* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.App {
  background-color: teal;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}